.container {
	margin-top: 50px;
}

.box {
	background-color: #626262;
	height: 580px;
	position: relative;
	margin-bottom: 10px;
}
.q-text{
	padding: 20px;
	padding-top: 20px;
	color: white;
}
.b1, .b2{
		bottom: 60px;
		position: absolute;
}
@media(min-width: 493px){
	.b1{
		left:200px;
	}
	.b2{
		right: 40px;
	}
	.b1, .b2 {
		bottom:50px;
	}
}
@media(min-width: 768px){
	.b1{
		left: 90px;
	}
	.b2 {
		right: 30px;
	}
	.b1, .b2 {
		bottom: 70px;
	}
}
@media (min-width: 992px){
	.b1{
		left: 20px;
	}
	.b2{
		right: 10px;
	}
	.b1, .b2 {
		bottom: 50px;
	}
}
@media (min-width:1200px ){

	.b2{
		right: 15px;
	}
	.b1{
		left:70px;
	}

}